{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Keith|Mariel{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'personal/favicon.ico' %}">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static 'personal/css/base.css' %}" rel="stylesheet"> {% block head %}
  <link href="{% static 'personal/css/slider.css' %}" rel="stylesheet"> {% endblock %}


</head>

<body>

  <nav class="navbar fixed-top navbar-expand-md navbar-light" style="background-color:#d0e2f2;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'personal/mylogo.svg' %}" width="30" height="30" alt="KM"> Keith|Mariel
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <!--  <li class="nav-item">
                  <a class="nav-link" href="/blog"><i class="fa fa-home fa-lg"></i>Journal</a>
                </li> 
            <li class="nav-item">
              <a class="nav-link" href="/story"><i class="fa fa-heart fa-lg"></i>Story</a>
            </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/photos">
              <i class="fa fa-camera fa-lg"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>

  {% block scripts %} {% endblock %}

</body>

</html>